@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">TESTE DE PERFORMANCE – TP3</h1>
    <p>Desenvolvimento com Serviços WCF e Microsoft Azure</p>
    <p>Elvis Freitas Lopes Herllain</p>

    <h1 class="display-4">API Amigos</h1>
</div>
